
<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-3">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Our dedicated team is passionate about preserving gaming
						history and bringing nostalgic experiences back to life. Explore
						our services and keep the gaming legacy alive with Console Rescue!</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-3">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>9 Woodlands Avenue 9, Singapore 738964</li>
						<li>leongavril@gmail.com</li>
						<li>+65 6510 3000</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-3">
				<div class="footer-box pages">
					<h2 class="widget-title">Shortcuts</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/shop">Shop</a></li>
						<li><a href="/account">Account</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>
					Copyrights &copy; 2024 - <a href="https://imransdesign.com/">ConsoleRescue</a>,
					Republic Polytechnic.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->