<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/links"></div>

<body>
	<div th:replace="fragments/header"></div>
	<div th:replace="fragments/search"></div>


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Saving Consoles, Saving Lives</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">
							Why <span class="orange-text">ConsoleRescue</span>
						</h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Home Delivery</h3>
										<p>Enjoy the ease of home delivery for our expertly
											restored classic gaming consoles. Skip the hassle, and let
											the gaming nostalgia come to you.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Best Price</h3>
										<p>We offer the best prices for our console restoration
											products. Unleash the joy of retro gaming without
											compromising your budget.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<h3>Custom Box</h3>
										<p>Our custom boxes add a unique flair to your gaming
											experience. Receive not just a console but a piece of gaming
											history tailored just for you.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3>Quick Refund</h3>
										<p>If, for any reason, you're not satisfied, our
											hassle-free refund process ensures you get the service you
											deserve.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->
	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>
							Our <span class="orange-text">Team</span>
						</h3>
						<p>Introducing Our Team That Made This All Happen</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>
							Me<span>Owner</span>
						</h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i
									class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i
									class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i
									class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>
							Me<span>Front-end</span>
						</h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i
									class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i
									class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i
									class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>
							Me<span>Back-end</span>
						</h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i
									class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i
									class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i
									class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end team section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-80 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">

							<div class="client-meta">
								<h3>
									Saira Hakim <span>- Gaming Enthusiast</span>
								</h3>
								<p class="testimonial-body">" Console Rescue exceeded my
									expectations! The attention to detail in restoring my classic
									console was remarkable. From the seamless home delivery to the
									personalized touches, they've won me over. Nostalgia has never
									looked this good! "</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">

							<div class="client-meta">
								<h3>
									David Niph <span>- Retro Collector</span>
								</h3>
								<p class="testimonial-body">" I've entrusted Console Rescue
									with several vintage consoles, and they consistently deliver
									excellence. The best part? Their fair pricing doesn't
									compromise on quality. It's like reliving my childhood, but
									with upgraded, fully restored consoles! "</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">

							<div class="client-meta">
								<h3>
									Jacob Sikim <span>- Satisfied Customer</span>
								</h3>
								<p class="testimonial-body">" Quick refunds and outstanding
									service; Console Rescue stands by its commitment to customer
									satisfaction. I had a seamless experience, and their custom
									boxes added a special touch to my restored console. Highly
									recommend for fellow gaming enthusiasts!"</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->

	<div th:replace="fragments/footer"></div>
	<div th:replace="fragments/query"></div>
</body>
</html>